.wrap{
    margin:0 auto;
    width:80%;
}
#icon-center {
    display:flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
#icon-center2{
    display:flex;
    justify-content: center;
    align-items: center;
}
.bg-black{
	background:#111111;
}
#radio{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border: 6px solid;
	border-color: #ffffff;
}
